# Бинарники и билды
/bin/
/go-awards
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы с личной информацией
/certificates.typ
/certificates.pdf
*.typ
*.pdf

# Папки с личной информацией
/tables/
/templates/
/examples/
/diff/
/images/

# Своп файлы и тд...
*~
.*.swp
.~lock.*
.DS_Store
