# бинарники и билды
/app
/ui
*.exe
*.exe~
*.dll
*.so
*.dylib

# файлы и папки с личной информацией (кроме тестовых данных)
*.typ
*.pdf
/materials/*
!/materials/templates/
!/materials/examples/
!/materials/tables/
!/materials/diff/
!/materials/images/

/materials/templates/*
!/materials/templates/hello.json
!/materials/templates/.gitkeep

/materials/examples/*
!/materials/examples/hello.pdf
!/materials/examples/.gitkeep

/materials/tables/*
!/materials/tables/hello.csv
!/materials/tables/.gitkeep

/materials/diff/*
!/materials/diff/.gitkeep

/materials/images/*
!/materials/images/.gitkeep

# своп файлы и тд.
*~
.*.swp
.~lock.*
.DS_Store
